@import "colors";

.ant-layout-header {
  background: #fff6e2 !important;
  padding: 0 0px !important;
  box-shadow: 0 2px 8px #1b1b1b23 !important;
  z-index: 10;
}

.bg_landing {
  // background: #000000 !important;
  /* image background*/
  background-image: url("https://i.postimg.cc/WzTZ82Gx/bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  // opacity: 0.8;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.rounded-corners-transparent {
  border-radius: 15px;
  background: white;
  opacity: 0.8;
  position: absolute;
}

// .ant-layout-footer {
//     background: #313131 !important;
//     // font-size: 18px;
//     // position: absolute;
//     // left: 0;
//     // bottom: 0;
//     // width: 100%;
//     color: white;
//     // text-align: center;
// }

.bounce-image {
  cursor: pointer;
}

.bounce-image:hover {
  height: 105% !important;
  width: 105% !important;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-5px);
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.bounce-image:hover {
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

.ant-comment-inner {
  padding-bottom: 0 !important;
}

.title-head-style {
  width: 100%;
  // text-align: right;
}

.title-head-style i {
  float: right;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  padding: 2px;
  background: white;
}

.title-head-style i:hover {
  background: red;
}

.align-items-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}